 @model IEnumerable<seoWebApplication.Models.Departments>

@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_BaseAdminSingle.cshtml";
}

@(Html.Kendo().Grid<seoWebApplication.Models.Departments>()
            .Name("Grid")
        .Columns(columns =>
    {
        columns.Bound(p => p.department_id);
        columns.Bound(p => p.Description);
        columns.Bound(p => p.Name);
        columns.Bound(p => p.department_id).ClientTemplate("<a href='" + Url.Action("edit", "departments", new { id = "#= department_id #" }) + " ' class='k-button k-button-icontext'><span class='k-icon k-edit'></span>view</a>  ").Title("view").Groupable(false);
    })
            .ToolBar(toolbar => toolbar.Template("<a class='k-button k-button-icontext k-grid-add' href='/departments/create/'>create</a>"))

        .DataSource(datasource => datasource
            .Ajax() // specify that the data source is of ajax type
        // specify that the useraccountid property is the unique identifier of the model
                        .Model(model => model.Id(p => p.department_id))

            // configure crud -->
                    .Events(events => events.Error("error_handler"))
                    .Read(read => read.Action("departments_read", "departments"))
        // <-- configure crud
    )
        .Pageable()
        .Sortable()
        .Groupable()
        .Filterable()
        .Resizable(resize => resize.Columns(true))
)

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>
