<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-seoWebApplication.Admin-20140202040821.mdf;Initial Catalog=aspnet-seoWebApplication.Admin-20140202040821;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="data source=TY-LT\SQLSVRTY;initial catalog=ZambiaPayrollSecurity;persist security info=True;user id=sa;password=sa;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="data source=.\;initial catalog=spzSecurity;persist security info=True;user id=shadeadmin;password=Hookah123456;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=calantha.arvixe.com;initial catalog=spzSecurity;persist security info=True;user id=shadeadmin;password=Hookah123456;Integrated Security=false" providerName="System.Data.SqlClient" />-->
    <add name="SeoWebAppEntities" connectionString="metadata=res://*/SeoWebAppModel.csdl|res://*/SeoWebAppModel.ssdl|res://*/SeoWebAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=calantha.arvixe.com;initial catalog=shopparazim;persist security info=True;user id=shadeadmin;password=Hookah123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PaypalUrl" value="https://www.paypal.com/xclick" />
    <add key="PaypalEmail" value="balloon@example.com" />
    <add key="PaypalCurrency" value="USD" />
    <add key="PaypalReturnUrl" value="http://www.example.com" />
    <add key="PaypalCancelUrl" value="http://www.example.com" />
    <add key="version" value="1.0.0.0" />
    <add key="MailServer" value="localhost" />
    <add key="MailUsername" value="info" />
    <add key="MailPassword" value="2262" />
    <add key="MailFrom" value="admin@shoppersparadisezim.com" />
    <add key="EnableErrorLogEmail" value="false" />
    <add key="ErrorLogEmail" value="errors@shoppersparadisezim.com" />
    <add key="ProductsPerPage" value="8" />
    <add key="ProductDescriptionLength" value="60" />
    <add key="SiteName" value="Shoppers Paradise Zim" />
    <add key="CartPersistDays" value="10" />
    <add key="idSeoWebstore" value="1" />
    <add key="CustomerServiceEmail" value="customersupport@shoppersparadisezim.com" />
    <add key="OrderProcessorEmail" value="orderprocessor@shoppersparadisezim.com" />
    <add key="SupplierEmail" value="supplier@shoppersparadisezim.com" />
    <add key="version" value="1.0.3" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <rewrite>
      <rules>
        <clear />
        <rule name="categoryUrlId" enabled="true" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?idCategory={R:1}" />
        </rule>
        <rule name="catdeptpage" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?.*.page=([0-9]+)?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/category.aspx?category_id={R:1}&amp;amp;page={R:2}" />
        </rule>
        <rule name="productUrl" enabled="true" stopProcessing="true">
          <match url="^(http://.*.+)/([^/]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?url={R:2}" />
        </rule>
        <rule name="product2" stopProcessing="true">
          <match url="^.*-p([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?idProduct={R:1}" />
        </rule>
        <rule name="product" stopProcessing="true">
          <match url="p-([0-9]+)-*.*.html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?idProduct={R:1}" />
        </rule>
        <rule name="admin parent pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}" />
        </rule>
        <rule name="admin sub menu pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+)-.*-ac([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}&amp;SubMenuItemId={R:2}" />
        </rule>
        <rule name="department pages" stopProcessing="true">
          <match url="^.*-d([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}" />
        </rule>
        <rule name="department sub pages" stopProcessing="true">
          <match url="^.*-d([0-9]+)-page-([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;Page={R:2}" />
        </rule>
        <rule name="catdept" stopProcessing="true">
          <match url="^.*-d([0-9]+)-.*-c([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;amp;category_id={R:2}" />
        </rule>
         
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>