@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  src: local('Petrona Regular'), local('Petrona-Regular'), url(http://fonts.gstatic.com/s/petrona/v5/pDrKD-602Zi1pKQUQRmkaQ.woff) format('woff');
}
