@model IEnumerable<seoWebApplication.Data.category>
@{
    Layout = null;
}
 
    <ul>
    <!-- category menu -->
    @foreach (var item in Model)
    {
        <li><a href="@Link.ToCategory(item.category_id)" title="@Html.DisplayFor(modelItem => item.description)">@Html.DisplayFor(modelItem => item.name)</a></li>
    }
    </ul>


 
