<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="seoWebApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <appSettings>
    <!--Social Media Config-->
    <add key="GoogleUrl" value="Living Hale" />
    <add key="TwitterUrl" value="Healthy Oats" />
    <add key="FacebookUrl" value="https://www.facebook.com/livinghale" />
    <add key="FacebookAppId" value="296867360497406" />
    <!--Webstore Config -->
    <add key="StoreUrl" value="http://halemeals.com" />
    <add key="StoreName" value="Living Hale" />
    <add key="SeoDesc" value="Healthy Oats" />
    <add key="SeoKeywords" value="Healthy Oats" />
    <add key="SeoTitle" value="Living Hale Healthy Oats" />
    <add key="Address" value="211 Abc St" />
    <add key="City" value="Raleigh" />
    <add key="State" value="NC" />
    <add key="Zip" value="27539" />
    <add key="Phone" value="9191231456" />
    <add key="ImgLogo" value="logo.jpg" />
    <!--Email Config-->
    <add key="SuperUser" value="rlamay@gmail.com" />
    <add key="SuperPassword" value="Livinghale1!" />
    <!--Email Config-->
    <add key="FromEmailAddress" value="alerts@telliformerapi.com" />
    <add key="FromEmailDisplayName" value="Telliformer Alerts" />
    <add key="FromEmailPassword" value="Telliformer123" />
    <add key="SMTPHost" value="smtp.1and1.com" />
    <add key="SMTPPort" value="587" />
    <!--Gmail Email Config-->
    <add key="FromGmailEmailAddress" value="telliformerapi@gmail.com" />
    <add key="FromGmailEmailDisplayName" value="Telliformer API" />
    <add key="FromGmailEmailPassword" value="Hookah123456" />
    <add key="GmailSMTPHost" value="smtp.gmail.com" />
    <add key="GmailSMTPPort" value="587" />
    <!--Paypal Config-->
    <!--<add key="PaypalClientId" value="Aeqc9RDPQlGPDQQWbZZ7vq5l58KJn7fOPww0FEfmJcnBIDlDp1y2sBul1HlQ" />-->
    <add key="PaypalClientId" value="AVOvexBrQRv6ZkbLHBWKc6dlXSuWW7EYJHxt1r_uwpWP0wdeEdI2At-aKkIk" />                                 
    <add key="PaypalClientSecret" value="ELoDGBB2oxwp_waJAyAJ_hErn9f-DkGrYS8K5YEFoQtVuVOCwhUfhD63hnPb" />   
     <!--<add key="PaypalClientSecret" value="EGkeWBDbqhc8l8t4VirjsUg0-LaRrVpElER1gJnS-9fBPtrOEmYWFAMkvLd0" />--> 
    <add key="PaypalCurrency" value="USD" />
    <add key="PaypalReturnUrl" value="/OrderComplete.aspx?success=true" />
    <add key="PaypalCancelUrl" value="/OrderVerify.aspx?cancel=true" />
    <add key="version" value="1.0.0.0" />
    <add key="Email" value="sales@halemeals.com" />
    <add key="ProductsPerPage" value="8" />
    <add key="ProductDescriptionLength" value="60" />
    <add key="SiteName" value="Living Hale" />
    <add key="CartPersistDays" value="10" />
    <add key="idSeoWebstore" value="30" />
    <add key="CustomerServiceEmail" value="customersupport@shoppersparadisezim.com" />
    <add key="OrderProcessorEmail" value="orderprocessor@shoppersparadisezim.com" />
    <add key="SupplierEmail" value="supplier@shoppersparadisezim.com" />
    <add key="version" value="1.0" />
    <add key="UseDocumentDb" value="True" />
    <add key="UseRavenDb" value="False" />
    <add key="UseMongoDb" value="False" />
    <add key="UseSqlServerDb" value="False" />
    <add key="DatabaseId" value="DocumentDbCommerce" />
    <add key="collection" value="Product" />
    <add key="EndpointURI" value="https://telliformer.documents.azure.com:443" />
    <add key="AuthorizationKey" value="LUMEbLSLxkr9Qk13AwKIdU0hYDJFrGc3pCEFJ5XZBLz3S6UrS625EH6JS81SrsBbJ0p8ByggxRhAfbRPGVyy7g==" />
  </appSettings>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://admin:Spz123456@kahana.mongohq.com:10026/mongocommerce" />

    <add name="SeoWebAppConnString" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" providerName="System.Data.SqlClient" />
    <add name="seowebappConnectionString" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" providerName="System.Data.SqlClient" />
    <add name="seowebappConnectionString1" connectionString="Data Source=calantha.arvixe.com;Initial Catalog=shopparazim;Persist Security Info=True;User ID=shadeadmin;Password=Hookah123456;" providerName="System.Data.SqlClient" />
    <add name="SeoWebAppEntities" connectionString="metadata=res://*/SeoWebAppModel.csdl|res://*/SeoWebAppModel.ssdl|res://*/SeoWebAppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=calantha.arvixe.com;initial catalog=shopparazim;persist security info=True;user id=shadeadmin;password=Hookah123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<location path="AdminProductDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <!-- Only administrators are allowed to access AdminShoppingCart.aspx -->
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <!-- Only administrators are allowed to access AdminOrders.aspx -->
  <!-- Only existing customers can access CustomerDetails.aspx -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1"/>
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" /> 
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <customErrors mode="Off" defaultRedirect="~/Oops.aspx">
      <error statusCode="404" redirect="~/NotFound.aspx" />
      <error statusCode="500" redirect="~/Oops.aspx" />
    </customErrors>
    <pages theme="SeoWebAppDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Forms">
      <forms loginUrl="Login.aspx"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>-->
   
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <remove name="DefaultAuthentication" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
      
 
    </modules>
    
    
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="Default.aspx" />
        <add value="index.php" />
        <add value="index.html" />
        <add value="index.pl" />
        <add value="default.html" />
        <add value="Default.cshtml" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <clear />
        <rule name="categoryUrlId" enabled="true" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?idCategory={R:1}" />
        </rule>
        <rule name="catdeptpage" stopProcessing="true">
          <match url="^.*_([0-9]+)_ctg.htm?.*.page=([0-9]+)?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/category.aspx?category_id={R:1}&amp;amp;page={R:2}" />
        </rule>
        <rule name="productUrl" enabled="true" stopProcessing="true">
          <match url="^(http://.*.+)/([^/]+)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Category.aspx?url={R:2}" />
        </rule>
        <rule name="product2" stopProcessing="true">
          <match url="^.*-p([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Product.aspx?idProduct={R:1}" />
        </rule>
       
        <rule name="admin parent pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}" />
        </rule>
        <rule name="admin sub menu pages" stopProcessing="true">
          <match url="^.*-ap([0-9]+)-.*-ac([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/admin/admin_parent.aspx?MenuItemId={R:1}&amp;SubMenuItemId={R:2}" />
        </rule>
        <rule name="department pages" stopProcessing="true">
          <match url="^.*-d([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}" />
        </rule>
        <rule name="department sub pages" stopProcessing="true">
          <match url="^.*-d([0-9]+)-page-([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;Page={R:2}" />
        </rule>
        <rule name="catdept" stopProcessing="true">
          <match url="^.*-d([0-9]+)-.*-c([0-9]+).html?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/Catalog.aspx?department_id={R:1}&amp;amp;category_id={R:2}" />
        </rule>
      </rules>
    </rewrite>
   
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="seoWebApplication.webservices.showproductsBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="seoWebApplication.webservices.Service1Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="seoWebApplication.webservices.showproductsBehavior" name="seoWebApplication.webservices.showproducts">
        <endpoint address="" binding="wsHttpBinding" contract="seoWebApplication.webservices.Ishowproducts">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="seoWebApplication.webservices.Service1Behavior" name="seoWebApplication.webservices.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="seoWebApplication.webservices.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <seoWebApplication.Properties.Settings>
      <setting name="seoWebApplication_com_shade4sale_Mini_x0020_Passport" serializeAs="String">
        <value>http://shade4sale.com/webservices/authenticateUser.asmx</value>
      </setting>
    </seoWebApplication.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.2.235" newVersion="1.9.2.235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>