<div class="subnavbar-inner">
	
		<div class="container">
			
			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">
				
					<li class="active">
						<a href="/Admin/">
							<i class="icon-home"></i>
							<span>Home</span>
						</a>	    				
					</li>
					
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-user"></i>
							<span>Employees</span>
							<b class="caret"></b>
						</a>	    
					
						<ul class="dropdown-menu">  
                            <li>
                                <a href="/Employee">Employees</a>
                                <a href="/Positions">Positions</a>
                                <a href="/Departments/">Departments</a> 
                            </li>
                           
						</ul> 				
					</li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-edit"></i>
                            <span>Data Entry</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/LeaveProcessing/">Leave Processing</a>
                                <a href="/LoanProcessing/">Loan Processing</a>
                                <a href="/OvertimeProcessing/">Overtime Processing</a>
                                <a href="/PaymentsDeductions/">Payments Deductions</a> 
                                <a href="/Tickets/">Tickets</a>
                                <a href="/TicketsEnquiry/">Tickets Enquiry</a>
                                <a href="/TicketsPrinting/">Tickets Printing</a>
                                <a href="/Terminations/">Terminations</a> 
                                <a href="/Exceptions/">Exceptions</a>
                                <a href="/TicketsInput/">Tickets Input</a>

                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-time"></i>
                            <span>Hours</span>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="/process/payroll">Process Payroll</a></li>
                            @*	<li><a href="./faq.html">Power</a></li>
                <li><a href="./gallery.html">Misc</a></li> *@
                        </ul>
                    </li>
					<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                            <i class="icon-cog"></i>
							<span>Payroll Setup</span>
							<b class="caret"></b>
						</a>	    
					
					<ul class="dropdown-menu">
							<li><a href="/PayrollItem/">Payroll Items</a></li>
                            <li><a href="/PayrollSetup/">Payroll Setup</a></li>
                            <li><a href="/EmployeePayItem/Employees">Employee Payroll Items</a></li>
                            <li><a href="/PositionPayrollItem/Positions">Position Payroll Items</a></li>
						 	<li><a href="/RunPayroll/">Run Payroll</a></li>
							  
						</ul> 				
					</li> 

                    	<li class="dropdown">					
                            <a href="javascript:;" class="dropdown-toggle Active" data-toggle="dropdown">
                                <i class="icon-wrench"></i>
                                <span>Setup</span>
                                <b class="caret"></b>
                            </a>	
					
						 <ul class="dropdown-menu">
                            <li><a href="/Controlfile/">Control File</a></li> 
                            <li><a href="/Accountcodes/">Account Codes</a></li> 
                            <li><a href="/Banks/">Banks</a></li> 
                            <li><a href="/Councilcodes/">Council Codes</a></li>                         
                            <li><a href="/Shifttypes/">Shift Types</a></li> 
                            <li><a href="/Publicholidays/">Public Holidays</a></li>  
                            <li><a href="/Leavetypes/">Leave Types</a></li>
                            <li><a href="/Loantypes/">Loan Types</a></li>
                            <li><a href="/Paydeducttypes/">Pay Deduct Types</a></li>
                            <li><a href="/Paypoints/">Pay Points</a></li>
                            <li><a href="/Salarygrades/">Salary Grades</a></li>
                            <li><a href="/Taxtables/">Tax Tables</a></li>
                            <li><a href="/Terminationtypes/">Termination Types</a></li>
                 		</ul>    				
					</li>

                    	<li class="dropdown">					
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-signal"></i>
							<span>Reports</span>
							<b class="caret"></b>
						</a>	
					
						@*<ul class="dropdown-menu"> 
                            <li>
                            <a href="/Alerts">Alerts</a>
                            </li> 
						</ul> *@   				
					</li>
				
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->
	
	</div> <!-- /subnavbar-inner -->